body {
    font-family: 'Source Code Pro', monospace;
    margin-left: 15%;
    margin-right: 15%;
}
h1, h2 {   
    text-transform: uppercase;
    text-align: center; 
}
a {
    text-decoration: none;
    color: black; 
}

ul {
    list-style: none;  
}

/*------ Navigation ------*/
.navigation {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-element {
    background-color: rgb(246, 246, 246);
    border-radius: 1em;
    padding: 0.2em 0.5em;
    margin-top: 1.5em;
}
.line-style {
    margin: 5em 0 1em 0;
    color: rgb(100, 100, 100);
}

/*------ CONTAINER ------*/

.container-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}
.flex-element {
    width: fit-content;
}
.picture {
    width: 200px;
    border-radius: 50%;  
    border: 3px solid rgb(246, 246, 246);
    padding: 3%;
} 
.contacts {
    /* flex-grow: 2; */
    text-align: center;
}
/*------ Code ------*/
.codediv {
    border-left: 5px solid rgb(246, 246, 246);
    color: black;
    padding: 0.1em 2em;
}
li.university {
    font-weight: 400;
    list-style-type: square;
}
li.city {
    color: rgb(100, 100, 100);
}
#summary {
    border: 1px dotted black;
    padding: 1em;
}
/*-------- Table Skills and Languages --------*/

table {
    width: 100%;
  }
.main-table {
    width: 50%;
}

/*-------- footer --------*/
.footer-style {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rsscool {
    width: 5em;
}
.ghlogo {
    width: 1em;
}